.say-cheese {
  border-bottom: 1px solid #e8e8e8;
  clear: both;
}

#say-cheese-container {
  display: block;
  margin: 15px 15px 15px 5px;
  max-width: 640px;
  max-height: 480px;
  float: left;
}

#say-cheese-container video {
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 8px 1px #808080;
}

#say-cheese-snapshots {
  float: left;
  margin-top: 15px;
  width: 280px;
  height: 480px;
  max-height: 480px;
}
